

.header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	position: relative;
	width: 100%;
	height: 7rem;
	left: 0;
	top: 0;
	position: fixed;
	padding: 1rem 1rem 2.25rem 1rem;
	z-index: 4;
	background: rgb(17,16,15);
	background: linear-gradient(0deg, rgba(17,16,15,0) 0%, rgba(17,16,15,1) 60%);
	backdrop-filter: blur(3px);
}

.header a, .header svg {
	max-width:300px;
	height:100%
}

.header:after {
	content: ' ';
	left: 0;
	position: absolute;
	width: 100%;
	bottom: 0;
	background: var(--bdrColour);
	z-index: 1;
	height: 1px;

}

.nav_container {
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	width:100%;
	z-index: 3;
	background:var(--darkColour);
	padding:10rem 2rem 2rem 2rem
}

.nav_container > div:first-child {
	padding-bottom: 3rem;
}

.nav_container > div:nth-child(2),
.nav_container > div:nth-child(3),
.nav_container > div:nth-child(4) {
	max-height:4rem
}

.nav_container > div {
	padding:1rem;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex:1
}
.nav_container > div > div {
	width:100%
}
.nav_container a {
	color: var(--bodyTextcolour);
	text-decoration: none;
	transition: all 0.2s ease;
}

.nav_container a:hover {
	color: var(--primaryColour);
}


@media screen and (min-width: 770px) {
	.header, .nav_container {
		width: var(--sidebarW);
		padding: 1rem;
	}

	.nav_container h4 {
		font-size:1.2rem
	}

	.nav_container {
		padding:9rem 1rem 2rem 1rem
	}

	.header svg {
		max-width:250px;
		width:100%
	}
	.mobile {
		display: none;
	}
}

@media screen and (min-width: 990px) {
	.nav_container h4 {
		font-size:var(--smFontSize)
	}
}

@media only screen and (max-height: 620px) {
	.header {
		height: 5rem;
	}
	.nav_container {
		padding:6rem 1rem 1rem 1rem
	}
	.nav_container > div {
		padding:1rem 0;
	}
	.nav_container > div {
		padding:.5rem;
	}
	.nav_container > div:first-child {
		padding-bottom: 1rem;

	}
	.nav_container > div:first-child a {
		font-size:large

	}
	.nav_container h4 {
		font-size:medium
	}
}

@media only screen and (min-device-width: 770px) and (max-device-width: 1140px) {
	.nav_container > div:first-child a {
		font-size:large

	}
	.nav_container {
		padding:7rem 1rem 1rem 1rem
	}
	.nav_container h4 {
		font-size:medium
	}

}

@media screen and (max-width: 770px) {
	.desktop {
		display: none;
	}
}